{% extends "base.html" %}

{% block body %}
<style>
  .profile-box {
    width: 400px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
    
  }

  .profile-name {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 15px;
    color:black
  }
  .user-data{
    font-size: 18px;
    color:black
  }
</style>

<div class="profile-box">
  <div class="profile-name">{{ user.first_name }}'s Profile</div>
    <div class="user-data"><span>Phone Number:</span> {{ user.phone_number }}</div>>
    <div class="user-data"><span>Email:</span> {{ user.email }}</div>>
    <div class="user-data"><span>Met Requirements?</span> {{ user.met_requirements }}</div>>
    <div class="user-data"><span>In Sleeping Board?</span> {{ user.in_sleeping }}</div>>
    <div class="user-data"><span>In Ride Board?</span> {{ user.in_ride }}</div>>
    <div class="user-data"><span>Dietary Restrictions?</span> {{ user.diet}}</div>>
</div>
{% endblock %}
